# Puerto del servidor
PORT=3000

# URL del frontend (tu app en Vercel)
FRONTEND_URL=https://tu-app.vercel.app

# URL del backend (tu backend en Railway)
BACKEND_URL=https://tu-backend.railway.app

# Credenciales de MercadoPago (Access Token)
MERCADOPAGO_ACCESS_TOKEN=APP_USR-5471093341634322-012909-e05a60a1cd8b18f3791d4cd24bed28de-3166130665

# Modo de ejecución
NODE_ENV=production
